rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper function to check if the user is the owner of the document.
    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    // Users can read and write to their own user document.
    match /users/{userId} {
      allow read, write: if isOwner(userId);
    }

    // Any authenticated user can read the list of available tasks.
    match /tasks/{taskId} {
      allow read: if request.auth != null;
    }

    // Users can read and write to the tasks subcollection within their own user document.
    match /users/{userId}/tasks/{taskId} {
        allow read, write: if isOwner(userId);
    }
  }
}
