@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 345 30% 12%;
    --foreground: 345 10% 98%;
    --card: 345 30% 16%;
    --card-foreground: 345 10% 98%;
    --popover: 345 30% 12%;
    --popover-foreground: 345 10% 98%;
    --primary: 345 65% 50%;
    --primary-foreground: 345 10% 98%;
    --secondary: 345 20% 25%;
    --secondary-foreground: 345 10% 98%;
    --muted: 345 20% 25%;
    --muted-foreground: 345 10% 63%;
    --accent: 345 40% 35%;
    --accent-foreground: 345 10% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 345 20% 25%;
    --input: 345 20% 25%;
    --ring: 345 65% 50%;
    --chart-1: 345 76% 61%;
    --chart-2: 345 58% 39%;
    --chart-3: 345 37% 24%;
    --chart-4: 345 74% 66%;
    --chart-5: 345 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 345 30% 12%;
    --foreground: 345 10% 98%;
    --card: 345 30% 16%;
    --card-foreground: 345 10% 98%;
    --popover: 345 30% 12%;
    --popover-foreground: 345 10% 98%;
    --primary: 345 65% 50%;
    --primary-foreground: 345 10% 98%;
    --secondary: 345 20% 25%;
    --secondary-foreground: 345 10% 98%;
    --muted: 345 20% 25%;
    --muted-foreground: 345 10% 63%;
    --accent: 345 40% 35%;
    --accent-foreground: 345 10% 98%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 345 20% 25%;
    --input: 345 20% 25%;
    --ring: 345 65% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
